@model IEnumerable<LearnMVC.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Display Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @item.UserId
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.Password
                </td>
                <td>
                    @item.CreatedAt
                </td>
                <td>
                    <a class="btn btn-@(item.IsActive == true ? "danger" : "success")"
                        asp-controller="Users"
                        asp-action="ChangeActive"
                        asp-route-id="@item.UserId"
                        >
                        @(item.IsActive == true ? "Enable" : "Disable")
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
